body {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
    font-size: small;
    margin-bottom: 0rem !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
}

.nav-item {
    font-family: 'Open Sans', sans-serif; 
}

.carousel-item {
    height: 80vh; 
	background-position: center; 
	background-size: cover; 
	position: relative; 
	z-index: 1;
    opacity: 0.4;
    } 

.carousel-caption  {
    z-index: 2;
        } 
    